@import "../node_modules/bulma/css/bulma.css";

.App {
  text-align: center;
}

.image {
  margin: 0 auto;
}

.experiment-step {
  color: white;
  padding-top: 32px;
}

.answer-section {
  .button {
    margin-right: 8px; 
  }
}

.is-centered {
  display: flex !important;
  justify-content: center !important;
}